[STATE]
enable_Overall  = True
enable_Garage   = False
setpointGarage  = 15

[GARAGE]
deadbandGarage              = 3
tempFreezeProtect           = 0.5
secPreheatGarage            = 20
secPurgeGaragePump          = 1
secPurgeGarageFan           = 5
tempBoilerReturnMinGarage   = 60
secGarageProtectColdOn      = 30
secGarageProtectColdOff     = 180
secGarageProtectHotOn       = 30
secGarageProtectHotOff      = 360

[DEFAULT]
tempBoilerReturnMin     = 58
deadbandBoiler          = 1.5
#tempBoilerReturnMax    = ~82-84
secPreheatBedrooms      = 40
secPurgeBedroomsPump    = 5
secPurgeBedroomsFan     = 15

hrExercise           = 72
secUpdate            = 1
secReadTempsLoop     = 15
secConfigCheckLoop   = 10
secRRDTempLoop       = 30
secNotifyGarageTempTimeout = 3600

ID_PROBE         = 28.F542E1020000
ID_BOILER_RETURN = 28.13FBCE030000
ID_BOILER_SUPPLY = 28.8D203A040000
ID_GARAGE_SUPPLY = 28.CEE839040000
ID_GARAGE_RETURN = 28.BDE939040000
ID_GARAGE_AIR    = 28.00E639040000
ID_OUTSIDE_AIR   = 28.4E1E3A040000
ID_BATH_SUPPLY   = 28.2D133A040000

IFTTT_KEY = dMU6-1cYu6tDnxg91rl6F5
IFTTT_EVENT = boiler
